html body {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	background-image: url("https://source.unsplash.com/random/1920x1080");
	background-color: #282828;
	position: absolute;
	text-align: center;
}

h3 {
  color: #ebdbb2;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #ebdbb2;
  font-size: 90;
	-webkit-text-shadow: 1px 1px 20px #000;
	-moz-text-shadow: 1px 1px 20px #000;
	text-shadow: 1px 1px 20px #000;
}

a {
  color: inherit;
  text-decoration: none;
}

#outer-wrapper {
	background-color: rgba(40,40,40,0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

#wrapper {
	position: relative;
	top: 50%;
  transform: perspective(1px) translateY(-60%);
}

.all {
  display: inline-block;
  vertical-align: top;
  align-self: center;
  margin: 0 0.5em;
}

.title {
  text-align: center;
  width: 12em;
	-webkit-box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	box-shadow: 1px 1px 20px 0px #000;
}

.social {
  background-color: #cc241d;
}

.reddit {
  background-color: #458588;
}

.uni {
  background-color: #689d6a;
}

.other {
  background-color: #d65d0e;
}

.spare {
  background-color: #98971a;
}

.linklist {
  text-align: center;
  list-style: none;
  width: 12em;
  padding-left: 0;
	-webkit-box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	box-shadow: 1px 1px 20px 0px #000;
}

.linklist li {
  color: #ebdbb2;
  background-color: rgba(40, 40, 40, 0.9);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  padding: 7px 0;
}

.linklist li:hover {
  color: #282828;
  background-color: #ebdbb2;
}
