.title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #f8f8f2;
}

.link_container {
  display: flex;
}

.category_container {
  background-color: #2e3441;
  border-radius: 3px;
  width: 160px;
  padding: 1rem 0.8rem;

  box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.75);

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.category_list {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 18px;
}

.category_title {
  font-family: "Fira Code", monospace;
  font-size: 1.2em;
  font-weight: bold;

  margin-bottom: 20px;
}

.link {
  font-family: "Fira Code", monospace;

  font-size: 1em;
  margin: 10px 0;

  a {
    color: #f8f8f2;
    text-decoration: none;

    transition-duration: 0.1s;

    &:hover {
      color: #f1fa8c;
      text-decoration: underline;
    }
  }
}
