.link {
  color: white;
}

.link_container {
  display: flex;
}

.category_content {
  color: inherit;
}

.category_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category_title {
  color: white;
}
