/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html,
body {
  background-color: #282a36;
}

.title {
  font-family: "IBM Plex Mono", monospace;
  color: #f8f8f2;
}
